<!DOCTYPE html>
<html>
<head>
    <title>Device List</title>
</head>
<body>
    <h1>Device List</h1>
    <table>
        <thead>
            <tr>
                <th>MAC Address</th>
                <th>User</th>
                <th>Device Type</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <td>{{ device.mac_address }}</td>
                <td>{{ device.user.name }}</td>
                <td>{{ device.device_type }}</td>
                <td>{{ device.created_at }}</td>
                <td>{{ device.updated_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>