<!DOCTYPE html>
<html>
<head>
    <title>User Statistics</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: right;
        }
        th {
            background-color: #f2f2f2;
            text-align: right;
        }
        th:first-child, td:first-child {
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>This Month's Cumulative Time Ranking</h1>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Cumulative Time</th>
            </tr>
        </thead>
        <tbody>
            {% for rank, (user, time) in enumerate(monthly_ranking, start=1) %}
                <tr>
                    <td>{{ rank }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Users Currently in the Room</h1>
    <table>
        <thead>
            <tr>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            {% for user in current_users %}
                <tr>
                    <td>{{ user.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Overall Cumulative Time Ranking</h1>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Cumulative Time</th>
            </tr>
        </thead>
        <tbody>
            {% for rank, (user, time) in enumerate(overall_ranking, start=1) %}
                <tr>
                    <td>{{ rank }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
