<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Is Active</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.is_active }}</td>
                <td>{{ user.created_at }}</td>
                <td>{{ user.updated_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>