<!DOCTYPE html>
<html>
<head>
    <title>User Monthly Hours</title>
</head>
<body>
    <h1>User Monthly Hours</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Hours</th>
                <th>Minutes</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_data %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.hours }}</td>
                <td>{{ user.minutes }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
